{% load monitor_server_tags %}
    {% get_filter_condtions_string filter_conditions q_val as  filter_condtions_string %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h3> {% get_model_verbose_name admin_class%}</h3>
                    <p></p>
                </div>

                <form >
                    <div class="row">

                        <div class="col-sm-1">
                            <a href="/host_add/{{ app_name }}/{{ model_name }}" class="btn btn-sm btn-primary">Add {% get_model_verbose_name admin_class %}</a>
                        </div>
                        <div class="col-xs-7"></div>

                        <div class="row">
                            <div class="col-lg-3">
                                <input type="search" name="_q" value="{% if q_val %}{{ q_val }}{% endif %}" placeholder="主机名 IP地址{% for s_field in admin_class.search_fields%} {% endfor %}" class="form-control">
                            </div>

                        </div>
                    </div>
                </form>

                <form method="post" onsubmit="return FormVerification(this)">{% csrf_token %}
                    <table class="table table-hover">
                    <table class="table table-striped table-bordered table-hover ">
                        <thead>
                            <tr>
                                {% if not  admin_class.list_display %}
                                    <th>{{ model_name }}</th>
                                {% else %}
                                    <th class='text-center'>
                                        <input  onclick="checkAll(this)" type="checkbox">
                                    </th>
                                    {% for column in admin_class.list_filter %}
                                    <th class='text-center'>
                                    {% if order_column == column  %}
                                        {{ column }}
                                    {% else %}
                                         {{ column }}
                                    {% endif %}
                                    </th>
                                    {% endfor %}
                                    <th class='text-center'>连接状态</th>
                                    <th class='text-center'>操作</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <form method="post">
                                {% for row in querysets %}
                                    <tr class='gradeX' id='checkbox'>
                                        {% build_table_row row admin_class app_name model_name %}
                                        <form method='post'>
                                            {% csrf_token %}
                                            <div>
                                                {% get_enable_objects row app_name model_name admin_class%}
                                            </div>
                                        </form>
                                    </tr>
                                {% endfor %}

                            </form>
                        </tbody>
                    </table>
                </table>
                <div class="col-sm-10">
                    <tr>

                        <td><input onclick="host_conn(this)" type='button' class='btn btn-sm btn-warning' value='连接' /></td>
                        <td><input onclick="btn_del(this) "  type='button' class='btn btn-danger btn-sm' value='删除' /></td>
{#                        <td><input id="btn_del" onclick="btn_del(this)"  type='button' class='btn btn-danger btn-sm' value='删除' /></td>#}
                    </tr>
                </div>
                </form>

                <div class="pagination">
                    <ul class="pagination">
                        <li class=""><a href="?_page=1{{ filter_condtions_string }}">首页 </a></li>
                        {% for p in paginator.page_range %}
                            {% get_abs_value p  querysets.number as i %} <!--i变量是当前页与循环的次数的差的绝对值 -->

                             {% if i < 3 %}
                                {% if p == querysets.number %}
                                    <li class="active"><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li class=""><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} <span class="sr-only">(current)</span></a></li>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <li class="">
                            <a href="?_page={{ paginator.num_pages }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">尾页</a>
                        </li>
                        <li class="">
                            <a>总计 {{ querysets.paginator.num_pages }}页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>

        function checkAll(self) {
            if ( $(self).prop('checked')){

                $("table .row-obj").prop('checked',true)
            }else {
                 $("table .row-obj").prop('checked',false)
            }

        }

        function host_conn(self) {
            console.log('连接主机');
            var host_name = document.getElementsByName('_selected_obj');
            var host_status = document.getElementById('#conn-status').appendChild("<a style='color:#1CD61C'> 连接中 </a>'");
            var len = host_name.length;
            for (var i = 0;i< len;i++){
                console.log()
            }
        }
        function btn_del(self) {
            console.log('删除');
            var check=document.getElementsByName('_selected_obj');
            var len = check.length;
            var idAll="";
            for (var i =0;i<len;i++){
                console.log('循环中');
                if(check[i].checked){
                    console.log(check[i]);
                    idAll += check[i].value+",";
                }
            }
            window.location.href="/host_auto_del/{{ app_name }}/{{ model_name }}/?idAll="+idAll;
        }

{#        function btn_del(self) {#}
{#            var checked = document.getElementsByName('_selected_obj');#}
{#            console.log('开始执行循环');#}
{#            for (var i = 0;i < checked.length;i++){#}
{#                console.log('判断点击CheckBox');#}
{#                if(checked[i].checked){#}
{#                    var tr=checked[i].parentNode.parentNode;#}
{#                    var tbody=tr.parentNode;#}
{#                    tbody.removeChild(tr);#}
{##}
{#                }#}
{#            }#}
{##}
{#        }#}


{#        function btn_del(self) {#}
{#            var check = document.getElementsByName('_selected_obj');#}
{#            var count = 0;#}
{#            for (var i =0;i < check.length;i++){#}
{#                if (check[i].type="checkbox")#}
{#                    if(check[i].checked)#}
{#                        count++;#}
{#            }#}
{#            if (count <= 0){#}
{#                alert('请选择要删除的项目')#}
{#                return false;#}
{#            }else {#}
{#                if(!confirm("确定要删除该记录吗？"))#}
{#                    return false;#}
{#                else#}
{#                    console.log('ok');#}
{#                    $(document).ready(function(){#}
{#                        console.log('delete');#}
{#                        $("btn_del").click(function(){#}
{#                            $(check.count).remove();#}
{#                        });#}
{#                    });#}
{#                    return true;#}
{#            }#}
{#        }#}


       function FormVerification(self) {



           var action_val = $("select[name='admin_action']").val();
           console.log("-------",action_val)
           if ( $('table .row-obj:checked').length ==0  ){
                    alert("必须选择对象")
                    return false;
           }
           if (!action_val){
                    alert("必须选择admin action")
                    return false;
           }
           return true
       }


    </script>